@using BlazorKendoUI.WebApp.Shared
@using BlazorKendoUI.Shared;
@page "/grid"
@using BlazorKendoUI.Models
@inject HttpClient Http

<h1>Grid</h1>

<button class="btn btn-primary" onclick="@MyHandler">Refresh Grid</button>

<KendoGrid ref="_grid"
    Data="@GridData"
    Sortable="true"
    Columns="@Columns"
    OnGridBeforeEdit="@OnGridBeforeEdit"
    OnGridChange="@OnGridChange">
</KendoGrid>

@functions {
    KendoGrid _grid;
    public GridModel Model { get; set; }
    public IEnumerable<object> GridData { get; set; }
    List<GridColumn> Columns { get; set; }

    protected override void OnInit()
    {
        Columns = new List<GridColumn>()
        {
            new GridColumn { Field = "date" },
            new GridColumn { Field = "temperatureC" },
            new GridColumn { Field = "summary" },
            new GridColumn { Command = "edit" }
        };

        base.OnInit();
    }

    async Task MyHandler()
    {
        GridData = await Http.GetJsonAsync<WeatherForecast[]>("api/sampledata/WeatherForecasts");
    }

    protected override async Task OnInitAsync()
    {
        GridData = await Http.GetJsonAsync<WeatherForecast[]>("api/sampledata/WeatherForecasts");
    }

    void OnGridBeforeEdit()
    {
        Console.WriteLine("GRID BEFORE EDIT");
    }

    void OnGridChange()
    {
        Console.WriteLine("GRID CHANGE");
    }
}
